body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-italiana: Italiana;
  --font-inter: Inter;
  --font-lato: Lato;
  --font-karla: Karla;
  --font-montserrat: Montserrat;
  --font-ephesis: Ephesis;
  --font-inria-sans: "Inria Sans";
  --font-centschbkcyrill-bt: "CentSchbkCyrill BT";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-lgi: 19px;
  --font-size-mid: 17px;
  --font-size-24xl: 43px;
  --font-size-mini-5: 14.5px;
  --font-size-lg: 18px;
  --font-size-mid-1: 17.1px;
  --font-size-2xl-3: 21.3px;
  --font-size-8xl-1: 27.1px;
  --font-size-3xl: 22px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-41xl: 60px;
  --font-size-17xl-7: 36.7px;
  --font-size-base: 16px;
  --font-size-6xl-6: 25.6px;
  --font-size-lgi-4: 19.4px;
  --font-size-4xl: 23px;
  --font-size-11xl: 30px;
  --font-size-44xl-4: 63.4px;
  --font-size-19xl-8: 38.8px;
  --font-size-2xs-6: 10.6px;
  --font-size-lg-8: 18.8px;
  --font-size-xs-3: 11.3px;
  --font-size-3xs-4: 9.4px;
  --font-size-lg-2: 18.2px;
  --font-size-mini: 15px;
  --font-size-base-2: 15.2px;
  --font-size-4xl-6: 23.6px;
  --font-size-7xl: 26px;
  --font-size-15xl: 34px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-aliceblue-100: #f2f7fd;
  --color-aliceblue-200: #edf5ff;
  --color-gray-100: #8d8989;
  --color-gray-200: #152542;
  --color-gray-300: #0c2646;
  --color-orangered-100: #ff5204;
  --color-orangered-200: #e95516;
  --color-darkslateblue-100: #002049;
  --color-lavenderblush: #f1e6e6;
  --color-darkslategray-100: #353535;
  --color-darkslategray-200: #343434;
  --color-darkslategray-300: #333;
  --color-darkslategray-400: #0b3155;
  --color-darkslategray-500: #0c2c4f;
  --color-midnightblue-100: #08143e;
  --color-midnightblue-200: #020d52;
  --color-lightgray: #cbcbcb;
  --color-darkgray: #b9afaf;
  --color-lightseagreen: #20bcbc;
  --color-chocolate-100: #ed6825;
  --color-chocolate-200: #d44f0a;
  --color-peachpuff: #ffcab0;
  --color-whitesmoke-100: #f4f7fa;
  --color-whitesmoke-200: #eee;

  /* Gaps */
  --gap-base: 16px;
  --gap-mid: 17px;
  --gap-4xl: 23px;
  --gap-27xl: 46px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-6xs-6: 6.6px;
  --gap-8xl: 27px;
  --gap-3xl: 22px;
  --gap-xl: 20px;
  --gap-7xl: 26px;
  --gap-smi-7: 12.7px;
  --gap-sm-7: 13.7px;
  --gap-10xl-5: 29.5px;
  --gap-9xs-2: 3.2px;
  --gap-10xs-5: 2.5px;
  --gap-9xs-3: 3.3px;
  --gap-11xl-5: 30.5px;
  --gap-7xs-2: 5.2px;
  --gap-5xs-5: 7.5px;
  --gap-3xs-1: 9.1px;
  --gap-lg-5: 18.5px;
  --gap-11xs-2: 1.2px;

  /* Paddings */
  --padding-17xl: 36px;
  --padding-56xl: 75px;
  --padding-mid: 17px;
  --padding-5xl: 24px;
  --padding-27xl: 46px;
  --padding-7xl: 26px;
  --padding-35xl: 54px;
  --padding-xl: 20px;
  --padding-8xl: 27px;
  --padding-21xl: 40px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-23xl: 42px;
  --padding-60xl: 79px;
  --padding-3xl: 22px;
  --padding-12xl: 31px;
  --padding-3xs: 10px;
  --padding-2xs-1: 10.1px;
  --padding-10xs: 3px;
  --padding-11xs-1: 1.1px;
  --padding-2xs-6: 10.6px;
  --padding-2xs: 11px;
  --padding-lg: 18px;
  --padding-mini: 15px;
  --padding-37xl: 56px;
  --padding-34xl: 53px;
  --padding-7xs-3: 5.3px;
  --padding-lg-8: 18.8px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-base: 16px;
  --padding-20xl: 39px;
  --padding-19xl: 38px;
  --padding-10xl: 29px;
  --padding-32xl: 51px;
  --padding-2xl: 21px;
  --padding-9xl: 28px;
  --padding-4xl: 23px;
  --padding-88xl: 107px;
  --padding-4xs-6: 8.6px;
  --padding-25xl: 44px;
  --padding-53xl: 72px;
  --padding-6xl-1: 25.1px;
  --padding-6xs-8: 6.8px;
  --padding-5xs-5: 7.5px;
  --padding-7xs: 6px;
  --padding-10xs-3: 2.3px;
  --padding-8xs: 5px;
  --padding-8xs-7: 4.7px;
  --padding-8xs-4: 4.4px;
  --padding-11xs-2: 1.2px;
  --padding-9xs-6: 3.6px;
  --padding-xs: 12px;
  --padding-xl-3: 20.3px;
  --padding-4xl-7: 23.7px;
  --padding-smi: 13px;
  --padding-12xs-8: 0.8px;
  --padding-10xs-2: 2.2px;
  --padding-24xl: 43px;
  --padding-29xl: 48px;
  --padding-smi-8: 12.8px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-3xs-4: 9.4px;
  --br-4xs-1: 8.1px;
  --br-10xs-8: 2.8px;
  --br-9xs: 4px;
  --br-5xl-3: 24.3px;
  --br-mid: 17px;
  --br-10xs: 3px;
  --br-7xs: 6px;
  --br-2xs-6: 10.6px;
  --br-8xs: 5px;
  --br-mini-1: 14.1px;
  --br-8xs-4: 4.4px;
  --br-11xs-8: 1.8px;
  --br-8xs-6: 4.6px;
  --br-8xs-7: 4.7px;
  --br-8xs-1: 4.1px;
}
